[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
seaborn = "*"
biopython = "*"
openpyxl = "*"
numpy = "*"
matplotlib = "*"
tqdm = "*"
pyteomics = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.10"
